header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4rem;
    padding-bottom: 4rem;
    position: sticky;
    top: -1.2rem;
    background-color: var(--background-color);
    flex-wrap: wrap;
}

.sortcontrollers__container{
    display: flex;
    gap: 1em;
    align-items: center;
}

small {
    color: var(--muted-text-color);
}

input, .selectfield__container{
    border: 1px solid var(--border-color);
    padding: 0.6rem;
    outline: none;
    border-radius: 2px;
    width: 100%;
    font-size: 16px;
}
  
.textinput__container{
    width: 320px;
}

.selectfield__container{
    width: 160px;
    /* background: red; */
    position: relative;
}

.selectfield__label{
    font-size: 10px;
    position: absolute;
    background-color: white;
    z-index: 1;
    padding: 0 6px;
    top: 0;
    color: var(--muted-text-color);
    transform: translateY(-50%);
}

.selectfield__value{
    width: 100%;
    text-align: left;   
}

.selectfield__options{
    position: absolute;
    top: 120%;
    width: 100%;
    background: white;
    right: 0;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    font-size: 14px;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.selectfield__option {
    animation: fadeIn forwards 350ms ease;
    padding: 1rem;
    transition: background-color 350ms ease;
    cursor: pointer;
    text-align: left;
    width: 100%;
}

.selectfield__option:hover{
    background-color:var(--neutral);
}

.selectfield__option:not(.selectfield__option:last-of-type) {
    border-bottom: 1px solid var(--border-color);

}

@media screen and (max-width:1036px) {

    header > div {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .textinput__container {
        width: 100%;
        margin-bottom: 1.5em;
    }

    .selectfield__container,
    .sortcontrollers__container {
        width: 100%;
    }

    .sortcontrollers__container small {
        display: none;
    }
}