.templates__container.container {
  padding-top: 3rem;
  padding-bottom: 4rem;
  min-height: 50vh;
  transition: height 400ms ease-in;
}

.templates__categoryTitle {
  margin-bottom: 1em;
  color: var(--text-color);
}

.templates__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  row-gap: 4rem;
}

@media screen and (max-width: 1136px) {
  .templates__grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .templates__grid {
    grid-template-columns: 1fr;
  }
}


.templates__categoryTitle {
  grid-column: 1/4;
}

.template {
  box-shadow: var(--shadow);
  height: 200px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: box-shadow 300ms ease;
}

.template:hover {
  box-shadow: none;
}

.template__details__container {
  padding: 1.5rem;
}

.template__name {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.template__desc {
  line-height: 1.5rem;
  font-size: 16px;
}

.template__action.buttonreset {
  width: 100%;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  padding: 1.2rem 1.5rem;
  background: var(--neutral);
  color: var(--accent-green);
}

.nosearchresults {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1/4;
  flex-direction: column;
}

.nosearchresults img {
  width: 400px;
}
