:root {
  --background-color: #fff;
  --border-color: #c4c4c4;
  --muted-text-color: #8f8b8b;
  --text-color: #3f3f3f;
  --accent-orange: #fc830a;
  --faded-orange: #fff4ea;
  --accent-green: #08bd37;
  --neutral: rgba(249, 249, 249, 1);
  --shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
}

@font-face {
  font-family: 'Circular Std';
  src: url('./assets/fonts/circular-std-medium-500.ttf');
}

body {
  font-family: 'Cirular Std', sans-serif;
  background-color: var(--background-color);
  font-size: 1rem;
}

.container {
  width: 85%;
  margin: auto;
}

.buttonreset {
  background: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.loader__container{
  width: 50px;
  height: 50px;
  background: transparent;
  border: 3px solid var(--accent-green);
  position: relative;
  overflow: hidden;
}

@keyframes loaderAnimation {
  0%{
    top: 0px;
    left: 0px;
  }

  25%{
    top: 0px;
    left: 30px;
  }
  50%{
    top: 30px;
    left: 30px;
  }
  75%{
    top: 30px;
    left: 0px;
  }
  100%{
    top: 0px;
    left: 0px;
  }

}
.loader__inner{
  background: var(--accent-green);
  width: 20px;
  height: 20px;
  position: absolute;
  animation: loaderAnimation 2s linear infinite;
}
